.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}


/* computer */
@media (max-width: 3500px) {

  .btn-vsbot {
    cursor: pointer;
    /* width: 6rem; */
    margin: 2rem;
    width: 80%;
  }
  .btn-vsbot img{
    width: 120px;
  }

  .board3 {
    text-decoration: none;
    color: #5f5480;
    background-color: rgba(218, 195, 255, 0.925);
    border-radius: .5em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    padding: 0rem 4rem;
    text-align: center;
    font-size: 48px;
    transition: all .2s;
    outline: none;
    border: none;
    margin: 1rem;
  }

  .board3 option {
    text-align: center;
    /* Center text horizontally */
  }

  .board-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0px;
    text-align: center;
    width: 100px;
  }

  .game-setting {
    margin: 5%;
  }

  .history {
    margin-top: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  h4 {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .board3 {
    text-decoration: none;
    color: #5f5480;
    background-color: rgba(218, 195, 255, 0.925);
    border-radius: .5em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    padding: 0rem 4rem;
    text-align: center;
    font-size: 48px;
    transition: all .2s;
    outline: none;
    border: none;
    margin: 5%;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 34px;
    height: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0px;
    text-align: center;
    width: 60px;
  }

  .game-settings {
    margin: 5%;
  }
}

.restart-button {
  /* text-decoration: none; */
  color: #5f5480;
  background-color: rgba(218, 195, 255, 0.925);
  border-radius: .5em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  box-sizing: border-box;
  padding: 1rem 1rem;
  text-align: center;
  font-size: 24px;
  transition: all .2s;
  outline: none;
  border: none;

}

.restart-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(74, 202, 132, 0.925);
  box-shadow: 0 0 .35em rgba(0, 0, 0, .5);

}

.btn-board {
  display: flex;
  width: 30%;
  padding: 10%;
}



.board3:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(74, 202, 132, 0.925);
  box-shadow: 0 0 .35em rgba(0, 0, 0, .5);
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin: 10px;
  font-size: large;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}